---
---
<!DOCTYPE html>
<html lang="en">
<meta charset=utf-8>
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ site.baseurl }}/lib/main.css">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<link rel="alternate" type="application/atom+xml" href="https://phabricator.wikimedia.org/phame/blog/feed/13/" title="Wikimedia Security Team">
<header><div class="wm-container">
 <a role="banner" href="{{ site.baseurl }}/" title="Navigate to the home page"><em>Wikimedia</em> Security</a>
 <span class="wm-header-caption">
    {% for item in site.data.extnav %}
    {% if site.data.extnav.first != item %} &bull; {% endif %}<a class="extnav" href="{{ item.href | escape }}">{{ item.text }}</a>
    {% endfor %}
    <a href="javascript:void(0);" id="hamburger-icon" class="icon no-js" onclick="toggleMenu()">
      <div class="container" onclick="changeIcon(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </a>
  </span>
</div></header>
<main role="main"><div class="wm-container">
  <button onclick="topFunction()" id="scrollBtn" title="Go to top"><i class="arrow up"></i></button>
  <nav id="site-nav-bar" class="wm-site-nav no-js">
    <ul class="wm-nav">
      {% for item in site.data.sitenav %}
      <li>
      <a {% if page.url == item.href %} class="wm-nav-item-active" {%  endif %} href="{{ item.href | escape }}">{{ item.text }}</a>
        {% if item.subpages %}
          {% if page.url == item.href %}
          <ul>
            {% for sub in item.subpages %}
                <li><a href="{{ sub.href | escape }}">{{ sub.text | escape }}</a></li>
            {% endfor %}
          </ul>
          {% elsif page.tags == item.tags %}
          <ul>
            {% for sub in item.subpages %}
                <li><a {%- if page.url == sub.href %} class="wm-nav-item-active" {%  endif %} href="{{ sub.href | escape }}">{{ sub.text | escape }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        {% endif %}
       </li>
      {% endfor %}
    </ul>

  </nav>
<article>
  {{ content }}
</article>
</div></main>
<footer role="contentinfo"><div class="wm-container perf-footer-cols">
  <div>
    <p>
      "We seek to secure access to and the integrity of free knowledge."
    </p>
    <p>Made with <a href="https://www.mediawiki.org/wiki/Wikimedia_Security_Team">♥ by Wikimedia Security Team</a> at <a href="https://www.wikimedia.org">Wikimedia Foundation</a>.</p>
  </div>
  <div>
    <h3>Latest blog posts</h3>
    <ul>
      <li><a href="{{ site.data.blog.feed.entry[0].id }}">{{ site.data.blog.feed.entry[0].title }}</a></li>
      <li><a href="{{ site.data.blog.feed.entry[1].id }}">{{ site.data.blog.feed.entry[1].title }}</a></li>
      <li><a href="{{ site.data.blog.feed.entry[2].id }}">{{ site.data.blog.feed.entry[2].title }}</a></li>
    </ul>
  </div>
</footer>

<script>
document.getElementById("site-nav-bar").className = "wm-site-nav";
document.getElementById("hamburger-icon").className = "icon";

function changeIcon(x) {
  x.classList.toggle("change");
}

function toggleMenu() {
  var x = document.getElementById("site-nav-bar");
  if (x.className === "wm-site-nav") {
    x.className += " responsive";
  } else {
    x.className = "wm-site-nav";
  }
}

//Get the button
var mybutton = document.getElementById("scrollBtn");
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};
function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  window.scrollTo({top: 0, behavior: 'smooth'});
}
</script>